<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

  {% load static %}



</head>

<body>
  {% include 'sterobuddy/nav.html' %}



 

  <section class="section">
    <div class="column is-offset-3">

     <h1 class="title is-1"><a class="button is-primary " style="padding: 5rem 15rem;" href="{% url 'SteroBuddy:newsong' %}">  find new songs</a></h1> 
    </div>
  </section>



  <section class="section">
    <div class="columns">
      <div class="column is-2 is-offset-2">
        <a class="button is-warning"  style="padding: 5rem 6.5rem;" href="{% url 'SteroBuddy:mixes' %}"> create a mix to share</a>
      </div>
      <div class="column is-4 is-offset-2">
        <a class="button is-info" style="padding: 5rem 6.5rem;" href="{% url 'SteroBuddy:findlist' %}"> find new mixes shared</a>
      </div>
    </div>
  </section>

  <h1 class="title is-1">
  Other users favrot songs are: 
  </h1> 
  <div class="columns">

    {% for song in songs %}
    <div class="column">
      <div class="notification is-warning">
        <h1 class="title is-6">{{ song.song_name }} </h1>
      </div>
    </div>
    {% endfor %}

    </div>
  </div>
  
 

</body>

</html>