<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    {% load static %}
</head>

<body>
    {% include 'SteroBuddy/nav.html' %}
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <div class="box">
                <h1 class="title"> Wich song did you mean:</h1>


                {% for i in MBsong %}
                <p><a class="button is-primary" href="{% url 'SteroBuddy:addingsong' i.0 i.1 %}"> {{ i.0 }} by {{ i.1 }}
                    </a></p>

                



                {% endfor %}
            </div>
        </div>
    </div>

</body>

</html>