<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>Document</title>
    {% load static %}
</head>
<body>
    
        <nav class="navbar">
            <div class="navbar-brand">
                <h1 class="title">SteroBuddy</h1>
            </div>
        
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
        
        
        </nav>
  


    <section class="section">
        <div class="columns ">
            <div class="column">
                <div class="box">
                    <h1 class="title">Title</h1>
                    <p>some text</p>
                </div>
                <div class="box">
                    <h1 class="title">Title</h1>
                    <p>some text</p>
                </div>
                <div class="box">
                    <h1 class="title">Title</h1>
                    <p>some text</p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h1 class="title">Title</h1>
                    <p>some text</p>
                </div>
                <div class="box">
                    <h1 class="title">Title</h1>
                    <p>some text</p>
                </div>
                <div class="box">
                    <h1 class="title">Title</h1>
                    <p>some text</p>
                
            </div>
            

        </div>
    </section>
   
    
</body>
</html>